


body {
    background-color: whitesmoke;
}
h1 {
    color: blue;
}
p {
    color: red;
}

.container-fluid {
    width: auto;
    height: auto;   

}

.w3-row {
    padding-left: 10%;
    width: 90%;
}
