


body {
    background-color: whitesmoke;
}
h1 {
    color: blue;
}
p {

}

.container-fluid {
    width: auto;
    height: auto;   

}

.w3-row {
    padding-left: 10%;
    width: 90%;
    
}

.w3-row .form-group{
border-style: 1px solid black;

}